@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap');

/* Responsive Design

576px  -> pantallas pequeñas (celulares)
768px  -> pantallas pequeñas (tablets y celulares)
992px  -> pantallas medianas (Desktop)
1200px -> pantallas grandes (Desktops, TVs)
*/

/* CUSTOM PROPERTIES / VARIABLES */

:root {
  /* FONTS */

  --font-family: "Hanken Grotesk", serif;
  --font-size: 18px;
  --font-weight-medium: 400;
  --font-weight-bold: 700;
  --font-weight-extra-bold: 800;

  /* COLORS */

  --primary-light-red: 0, 100%, 67%;
  --primary-orangey-yellow: 39, 100%, 56%;
  --primary-green-teal: 166, 100%, 37%;
  --primary-cobalt-blue: 234, 85%, 45%;

  --gradients-light-slate-blue-background: hsl(252, 100%, 67%);
  --gradients-light-royal-blue-background: hsl(241, 81%, 54%);

  --gradients-violet-blue-circle: hsla(256, 72%, 46%, 1);
  --gradients-persian-blue-circle: hsla(241, 72%, 46%, 0);

  --neutral-white: hsl(0, 0%, 100%);
  --neutral-pale-blue: hsl(221, 100%, 96%);
  --neutral-light-lavender: hsl(241, 100%, 89%);
  --neutral-dark-gray-blue: hsl(224, 30%, 27%);
}

/* GENERALES */

* {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-size: var(--font-size);
}

body {
  /* border: 6px solid blue; */

  font-family: var(--font-family);
  background-color: var(--neutral-pale-blue);

  display: flex;
  justify-content: center;
  align-items: center;
}

@media (width >= 768px) {
  body {
    height: 100vh;
  }
}

.summary {
  /* border: 1px solid red; */

  background-color: var(--neutral-white);

  display: flex;
  flex-direction: column;

  border-radius: 1rem;
}

/* @media (min-width: 768px) {
  .summary {
    flex-direction: row;
  }
} */

@media (width >= 768px) {
  .summary {
    flex-direction: row;
  }
}

.result {
  /* border: 1px solid red; */

  padding: 1.5rem;
  border-radius: 0 0 1rem 1rem;
  background: linear-gradient(
    180deg,
    var(--gradients-light-slate-blue-background) 0%,
    var(--gradients-light-royal-blue-background) 100%
  );

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

@media (width >= 768px) {
  .result {
    border-radius: 1rem;
  }
}

.result__subtitle {
  color: var(--neutral-light-lavender);
}

.result__title {
  font-size: 1.8rem;
  color: var(--neutral-white);
}

.result__text {
 font-size: 1rem;
 font-weight: var(--font-weight-medium);
 color: var(--neutral-light-lavender);
 text-align: center;
}

.result__stats {
  width: 150px;
  height: 150px;
  border-radius: 50%;

  background: linear-gradient(
    180deg,
    var(--gradients-violet-blue-circle) 0%,
    var(--gradients-persian-blue-circle) 100%
  );

  display: grid;
  place-content: center;
}

.result__stats h1 {
  font-size: 3.5rem;
  font-weight: var(--font-weight-extra-bold);
  color: var(--neutral-white);
}

.result__stats small {
  font-size: .9rem;
  font-weight: var(--font-weight-bold);
  color: var(--neutral-light-lavender);
  text-align: center;
}

.list {
  /* border: 1px solid red; */

  width: 100%;
  padding: 1.5rem;

  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.list__title {
  color: var(--neutral-dark-gray-blue);
}

.list__wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.list__row {
  /* border: 1px solid blue; */

  display: flex;
  justify-content: space-between;
  padding: .7rem 1rem;
  border-radius: .5rem;

  font-size: 1rem;
  font-weight: var(--font-weight-bold);
}

.list-row__title {
  display: flex;
  align-items: center;
  gap: .5rem;
}

.list-row__stats {
  color: var(--neutral-dark-gray-blue);
}

.list-row__stats span:nth-last-child(1),
.list-row__stats span:nth-last-child(2) {
  color: var(--neutral-light-lavender);
}

.list__row--reaction {
  background-color: hsla(var(--primary-light-red), 0.1);
}

.list__row--reaction .list-row__title {
  color: hsl(var(--primary-light-red));
}

.list__row--memory {
  background-color: hsla(var(--primary-orangey-yellow), 0.1);
}

.list__row--memory .list-row__title {
  color: hsl(var(--primary-orangey-yellow));
}

.list__row--verbal {
  background-color: hsla(var(--primary-green-teal), 0.1);
}

.list__row--verbal .list-row__title {
  color: hsl(var(--primary-green-teal));
}

.list__row--visual {
  background-color: hsla(var(--primary-cobalt-blue), 0.1);
}

.list__row--visual .list-row__title {
  color: hsl(var(--primary-cobalt-blue));
}

.list__button {
  border: 0;

  background-color: var(--neutral-dark-gray-blue);
  color: var(--neutral-white);
  padding: 1rem;
  border-radius: 1.5rem;

  font-size: .8rem;
  font-weight: var(--font-weight-bold);

  cursor: pointer;

  transition: background .3s ease;
}

.list__button:hover {
  background: linear-gradient(
    180deg,
    var(--gradients-light-slate-blue-background) 0%,
    var(--gradients-light-royal-blue-background) 100%
  );
}