@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap');

/* CUSTOM PROPERTIES / VARIABLES */

:root {
  /* FONTS */

  --font-family: "Hanken Grotesk", serif;
  --font-size: 18px;
  --font-weight-medium: 400;
  --font-weight-bold: 700;
  --font-weight-extra-bold: 800;

  /* COLORS */

  --primary-light-red: hsl(0, 100%, 67%);
  --primary-orangey-yellow: hsl(39, 100%, 56%);
  --primary-green-teal: hsl(166, 100%, 37%);
  --primary-cobalt-blue: hsl(234, 85%, 45%);

  --gradients-light-slate-blue-background: hsl(252, 100%, 67%);
  --gradients-light-royal-blue-background: hsl(241, 81%, 54%);

  --gradients-violet-blue-circle: hsla(256, 72%, 46%, 1);
  --gradients-persian-blue-circle: hsla(241, 72%, 46%, 0);

  --neutral-white: hsl(0, 0%, 100%);
  --neutral-pale-blue: hsl(221, 100%, 96%);
  --neutral-light-lavender: hsl(241, 100%, 89%);
  --neutral-dark-gray-blue: hsl(224, 30%, 27%);
}

/* GENERALES */

* {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-size: var(--font-size);
}

body {
  /* border: 6px solid blue; */

  font-family: var(--font-family);
  background-color: var(--neutral-pale-blue);

  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.summary {
  /* border: 1px solid red; */

  background-color: var(--neutral-white);

  display: flex;

  border-radius: 1rem;
}

.result {
  /* border: 1px solid red; */

  padding: 1.5rem;
  border-radius: 1rem;
  background: linear-gradient(
    180deg,
    var(--gradients-light-slate-blue-background) 0%,
    var(--gradients-light-royal-blue-background) 100%
  );

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.result__subtitle {
  color: var(--neutral-light-lavender);
}

.result__title {
  font-size: 1.8rem;
  color: var(--neutral-white);
}

.result__text {
 font-size: 1rem;
 font-weight: var(--font-weight-medium);
 color: var(--neutral-light-lavender);
 text-align: center;
}

