@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

body {
  background-color: hsl(148, 38%, 91%);

  font-family: "Karla", sans-serif;
  font-size: 16px;

  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-form {
  background-color: hsl(0, 0%, 100%);
  width: 400px;
  padding: 32px;
  border-radius: 16px;
}

h1 {
  margin: 0;
  margin-bottom: 32px;
  color: hsl(187, 24%, 22%);
}