/* GALLERY */

.gallery {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.gallery__cover--wrapper {
  position: relative;
}

.gallery__next-button,
.gallery__prev-button {
  position: absolute;

  background-color: var(--neutral-color-white);
  width: 50px;
  height: 50px;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
}

.gallery__prev-button {
  top: 220px;
  left: 30px;
}

.gallery__next-button {
  top: 220px;
  right: 30px;
}

@media (min-width: 1200px) {
  .gallery__next-button,
  .gallery__prev-button {
    display: none;
  }
}

.gallery__cover {
}

@media(min-width: 1200px) {
  .gallery__cover  {
    border-radius: 1rem;
  }
}

.gallery__slider {
  display: none;
  justify-content: space-between;
}

@media(min-width: 1200px) {
  .gallery__slider {
    display: flex;
  }
}

.gallery__slider div {
  width: 90px;
  height: 90px;
  border-radius: 1rem;
  overflow: hidden;
}

.gallery__slider--active {
  border: 3px solid var(--primary-color-orange);
}

.gallery__slider--active img {
  opacity: .5;
}