/* PRODUCT */

.product {
  padding: 0 2rem;
}

.product__subtitle {
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--neutral-color-dark-grayish-blue);
  letter-spacing: .2rem;
}

.product__title {
  color: var(--neutral-color-very-dark-blue);
  font-size: 3rem; /* 2rem = 32px */
  margin-top: 1rem;
  font-weight: 700;
}

.product__description {
  margin-top: 1rem;
  line-height: 1.5;
  color: var(--neutral-color-dark-grayish-blue);
}

.product__price {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;

  margin-top: 1rem;
  margin-bottom: 1rem;
}

@media (min-width: 1200px) {
  .product__price {
    flex-direction: column;

    align-items: flex-start;
  }
}

.product__wrapper {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.product__amount {
  font-size: 2rem;
  font-weight: var(--font-weight-bold);
}

.product__discount {
  background-color: var(--neutral-color-very-dark-blue);
  color: var(--neutral-color-white);

  padding: 0.1rem .5rem;
  border-radius: .5rem;

  font-weight: var(--font-weight-regular);
}

.product__price-with-discount {
  color: var(--neutral-color-dark-grayish-blue);
  text-decoration: line-through;
}

.product__form {
  display: flex;
  gap: 1.5rem;
  align-items: center;
  flex-direction: column;

  margin-bottom: 4rem;
}

@media (min-width: 1200px) {
  .product__form {
    flex-direction: row;
  }
}

.product__quantity {
  display: flex;
  
  border-radius: .5rem;
  overflow: hidden;

  /* width: 300px; */
}

.product__quantity button,
.product__quantity input {
  border: none;

  width: 4rem;
  height: 4rem;

  background-color: var(--neutral-color-light-grayish-blue);
}

.product__quantity input {
  font-weight: var(--font-weight-bold);
  font-size: 1.4rem;
  text-align: center;

  width: 100%;
}

.product__quantity button {
  cursor: pointer;
}

.product__add-to-cart {
  background-color: var(--primary-color-orange);
  border: 0;
  padding: 1rem;
  height: 4rem;

  border-radius: .5rem;
  color: var(--neutral-color-very-dark-blue);
  font-weight: var(--font-weight-bold);
  font-size: 1.1rem;

  cursor: pointer;

  display: flex;
  gap: .5rem;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.product__add-to-cart svg path {
  fill: var(--neutral-color-very-dark-blue);
}