@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  background-color: hsl(234, 29%, 20%);
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}

main {
  background-color: hsl(0, 0%, 100%);
}