@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/* 
font-family: "Raleway", sans-serif;
font-family: "Open Sans", serif;
*/

/* GENERAL */

* { /* Selector universal */
  box-sizing: border-box;
  margin: 0;
}

html {
  font-size: 14px;
}

body {
  font-family: "Open Sans", serif;

  background-color: hsl(217, 28%, 15%);
  color: hsl(0, 0%, 100%);
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  /* TODO: RWD para imágenes */
  max-width: 100%;
  height: auto;
}

/* UTILS */

.hidden {
  display: none;
}

.wrapper {
  /* width: 1000px; */
  /* TODO: Adaptar el ancho de la página a dispositivos móviles */
  width: min(100% - 3rem, 1440px); /* 42px = 14px * 3 = 3rem */
}

/* HEADER SECTION */

.header {
  /* border: 1px solid red; */

  display: flex;
  justify-content: space-between;
  align-items: center;
  
  margin: 0 auto; /* 0: TOP, BOTTOM / auto: LEFT, RIGHT */
  margin-top: 3rem; /* 14px * 3 = 42px = 3rem */
}

.header__nav {
  display: flex;
  gap: 3rem;  /* 14px * 3 = 42px = 3rem */
}

/* HERO SECTION */

.hero {
  /* border: 1px solid blue; */

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem; /* 14px * 2 = 28px = 2rem */

  padding-top: 3rem;
  padding-bottom: 12rem;

  background-image: url(../images/bg-curvy-desktop.svg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
}

.hero__title {
  /* border: 1px solid red; */

  /* width: 720px; */
  width: min(100% - 3rem, 720px);

  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 2.5rem;
  text-align: center;
}

.hero__text {
  /* border: 1px solid red; */

  width: min(100% - 3rem, 720px);

  font-weight: 400;
  font-size: 1.2rem;
  text-align: center;
}

.hero__button {
  font-weight: 700;

  border: none;
  border-radius: 7rem;
  padding: 1rem 1.5rem;
  min-width: 220px;
  color: hsl(0, 0%, 100%);
  background: linear-gradient(
    90deg,
    hsl(176, 68%, 64%) 0%,
    hsl(198, 60%, 50%) 100%
  );
}

/* FEATURES SECTION */

.features {
  /* border: 1px solid red; */

  display: grid;
  grid-template-columns: 340px 340px;
  /* grid-template-rows: 240px 240px; */
  justify-content: center;
  align-items: center;
  gap: 5rem;

  background-color: hsl(218, 28%, 13%);
}

.feature {
  /* border: 1px solid green; */

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.feature__title {
  font-family: "Raleway", sans-serif;
}

.feature__text {
  text-align: center;
}